<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
<table *ngIf="dataLoaded==true" class="table table-striped" style="margin-top:25px;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Fiyat</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of carDetailDtos">
            <td>{{car.carId}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.dailyPrice}}</td>
        </tr>
    </tbody>
</table>
